<div>
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    Type a new campaign, press enter:<br/>
    {{input-name action='createCampaign'}}
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |campaign|}}
        <tr class="campaign">
            <td>{{campaign.name}}</td>
            <td>{{campaign.status}}</td>
            <td>{{campaign.description}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
