<div>
    Type a new task, press enter:<br/>
    {{input-task action='createTask'}}
</div>
<table class="table" style="width: 400px">
    <thead>
    <tr>
        <th>Done</th>
        <th>Task</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |item|}}
        <tr>
            <td>
                <input type="checkbox" checked={{item.isDone}} {{action 'toggleIsDone' item on="change"}}>
            </td>
            <td>
                {{item.task}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
