<div>
    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
    Type a new task, press enter:<br/>
    {{input-name action='createTask'}}
</div>
<table class="table" style="width: 400px">
    <thead>
    <tr>
        <th>Done</th>
        <th>Task</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |task|}}
        <tr>
            <td>
                <input type="checkbox" checked={{task.isDone}} {{action 'toggleIsDone' task on="change"}}>
            </td>
            <td>
                {{task.name}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
