<div>
    <h2>Users and Scores</h2>

    <table class="table" style="width: 500px">
        <tr>
            <th>&nbsp;</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th style="text-align: right">Score</th>
        </tr>
        {{#each model as |user index|}}
            <tr>
                <td>
                    {{index}}
                </td>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.lastName}}
                </td>
                <td style="text-align: right">
                    {{user.score}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>